.Title-War {
    margin: 0 auto;
    text-align: center;
}

.Form-Group-cf {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px;
    margin-bottom: 30px;
    margin-left: 35%;
    margin-right: 35%;
}

@media (max-width: 480px) {
    .Form-Group-cf {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.Input-cf,
.Taxtarea-cf,
.Select-cf {
    font-size: 20px;
    padding: 5px;
    width: 100%;
}

.Form-button {
    margin: 30px auto;
    width: 50%;
    text-align: center;
}

.Lable-cf {
    margin-top: 10PX;
    font-size: 20px;
}

.Text-cf-first {
    color: #bbbbbb;
}

.Text-cf-last {
    color: #bbbbbb;
}

.H1-pg {
    padding-bottom: 30px;
    padding-top: 20px;
}

.hCaptcha-cf {
    display: flex;
    justify-content: center;
}
.required-field{
    font-size: 10px;
}

.checkbox-cf p a {
    text-decoration: underline;
}
  
@media (min-width: 960px) {
    .checkbox-cf{
        display: flex;
        align-items: center; /* 垂直居中对齐 */
    }
    .Form-Group-cf-name {
        display: grid;
        grid-template-areas:
            'lable lable'
            'first-input last-input'
            'first-text last-text'
    }

    .Lable-cf-name {
        grid-area: lable;
    }

    .Input-cf-first {
        grid-area: first-input;
    }

    .Input-cf-last {
        grid-area: last-input;
    }

    .Text-cf-first,
    .Text-cf-last {
        padding-left: 5px;
    }

    .Text-cf-first {
        grid-area: first-text;
    }

    .Text-cf-last {
        grid-area: last-text;
    }
}