
.container-Ship {
    display: flex;
    flex-direction: column; /* 默认就是垂直方向 */
}
.child-Ship {
    display: block; /* 或者可以直接使用 display: flex; 进行垂直布局 */
}

.Link-Ship{
    text-decoration: underline;
}
p{
    margin-bottom: 10px;
    font-weight:bold;
}
.H1-Ship{
    font-weight:bolder;
    padding-bottom: 30px;
    padding-top: 20px;
}

@media (min-width: 960px){
    .policy-Ship{
        margin: 0 auto;
        width: 60%;
    }
    .Button-Ship{
        text-align: center;
        width: 40%;
        
        padding: 30px;
        margin: 0 auto;
    }
    .Button-Ship-Child{
        width: 90%;
        font-size: 50px;
        padding:50px;
    }
    
}
@media (max-width: 960px){
    .policy-Ship{
        margin: 0 auto;
        width: 80%;
    }
    .Button-Ship{
        text-align: center;
        width: 80%;
        
        padding: 15px;
        margin: 0 auto;
    }
    .Button-Ship-Child{
        width: 90%;
        font-size: 50px;
        padding:50px;
    }
    
}