.stickToBottom {
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
}

.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

body {
    margin: 0;
}

.H1-pg {
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
}

.required-field {
    color: red;
}