@tailwind base;
@tailwind components;
@tailwind utilities;

/* sf pro font globally */
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    max-width: 100%;
    overflow-x: hidden
}

/* disable number arrow increment button */
@layer base {

    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
    }
}

/* custom scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #222
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #777;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}