@tailwind base;
@tailwind components;
@tailwind utilities;

/* sf pro font globally */
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    max-width: 100%;
    overflow-x: hidden
}

@layer base {

    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
    }
}